* {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  color: #fff;
  background: #000;
}

/* block */
block {
  & {
    ::selection {
      color: #000;
      background: #fff;
    }

    .-item-water {
      background: #00f;
    }

    .-item-soil {
      background: #d90;
    }

    .-item-glass {
      background: #0f0;
    }

    .-item-stone {
      background: #aaa;
    }

    .-item-sand {
      background: #ff0;
    }
  }

  &,
  &>item,
  &>item>show {
    display: block;
    height: 2rem;
    width: 2rem;
    cursor: pointer;

    &,
    &~info {
      text-align: center;
      align-content: center;
    }
  }

  &>item>info {
    display: none;
    min-height: 2rem;
    min-width: 2rem;
    margin: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    outline: solid 0.1rem #999;
  }

  &:hover {
    outline: solid 0.1rem #999;

    &>item>info {
      display: block;
    }
  }
}

/* blocks */
:has(>blocks) {
  display: block;
  width: fit-content;
  margin: auto;

  &>blocks {
    display: flex;
  }
}

/* tool */
tool {
  margin: 1rem;
  position: absolute;
  top: 0;
  left: 0;

  &>blocks {
    flex-direction: column;

    &>block {
      margin: 0.3rem;

      &>item:hover>info {
        display: none;
      }
    }
  }
}

/* hand */
hand {
  margin: 1rem auto;

  &>blocks>block {
    position: relative;
    margin: 0.2rem;
    outline: solid 0.1rem #999;

    &>item[choose] {
      outline: dashed 0.3rem #fff;
    }

    &>n {
      position: absolute;
      bottom: 0;
      right: 0;
      text-shadow:
        0 0 0.1rem #000,
        0.1rem 0.1rem #000;
    }
  }
}

/* chunk */
chunk {}