* {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  color: #fff;
  background: #000;
}

/* block */
block {

  &,
  &>item,
  &>item>show {
    display: block;
    height: 2rem;
    width: 2rem;
    outline: solid 2px #999;
    cursor: pointer;
    text-align: center;
    align-content: center;
  }
}

blocks {
  display: block;
}

/* tool */
tool {
  display: block;
  margin: 1rem;
  position: absolute;
  top: 0;
  left: 0;

  & block {
    margin: 0.3rem;
  }
}

/* hand */
hand {
  display: block;
  width: fit-content;
  margin: 1rem auto;


  & block {
    display: inline-block;
    margin: 0.2rem;

    & show[choose] {
      outline: dashed 0.2rem #fff;
    }
  }
}

/* chunk */